.todo-counter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.un-complited-container,
.complited-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 300px;
}

.todo-counter p {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}

.todo-counter .un-complited-element,
.todo-counter .complited-element {
  padding: 0.5rem 0.7rem;
  background: var(--background);
  border: var(--button-border);
  border-radius: var(--border-radius);
  cursor: pointer;
  max-width: 350px;
  display: flex;
  align-items: center;
}

.todo-counter .un-complited-element p,
.todo-counter .complited-element p {
  margin-left: 30px;
  position: relative;
  max-width: 350px;
  hyphens: auto;
}

.todo-counter .un-complited-element p {
  text-decoration: none;
}

.todo-counter .complited-element p {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-counter .un-complited-element p::before,
.todo-counter .complited-element p::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(./StateImg/check_box_outline_blank.svg);
  background-repeat: no-repeat;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.todo-counter .complited-element p::before {
  background-image: url(./StateImg/check_box.svg);
}

@media screen and (max-width: 550px) {
  .un-complited-container,
  .complited-container {
    gap: 15px;
    min-height: 150px;
  }

  .todo-counter p {
    margin: 0;
    font-size: 18px;
  }
}
